{
    "cn":
    {
        "oss":
        {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        }
    },
    "global":
    {
        "oss":
        {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        }
    }
}
