{
  "feishuAppId": "",
  "apiBaseUrl": "",
  "authApiBaseUrlCn": "",
  "authApiBaseUrlGlobal": "",
  "deviceLinkApiBaseUrl": "",
  "oauthBrokerApiBaseUrl": "",
  "heartbeatUrl": "",
  "slackHookWsUrl": "",
  "websiteUrl": "",
  "xdGatewayBaseUrl": "",
  "cdnBaseUrl": "",
  "cdnInternalBaseUrl": "",
  "npkgBaseUrl": "",
  "ossBucket": "",
  "ossPrefix": "",
  "ossRegion": ""
}
