{
  "feishuAppId": "",
  "apiBaseUrl": "",
  "authApiBaseUrlCn": "",
  "authApiBaseUrlGlobal": "",
  "deviceLinkApiBaseUrl": "",
  "xdGatewayBaseUrl": "",
  "cdnBaseUrl": "",
  "cdnInternalBaseUrl": "",
  "npkgBaseUrl": "",
  "endpointManifestBaseUrlCn": "",
  "endpointManifestBaseUrlGlobal": "",
  "ossBucket": "",
  "ossPrefix": "",
  "ossRegion": ""
}
