{
    "cn":
    {
        "authRegion": "cn",
        "iosBundleId": "com.xd.cindycn",
        "androidPackage": "com.xd.cindycn",
        "npkgExpectBundle": "com.xd.cindycn",
        "tapdb":
        {
            "clientId": "",
            "clientToken": ""
        },
        "oss":
        {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        },
        "iosSigning":
        {
            "teamId": "",
            "profileName": "",
            "signIdentity": "",
            "profilePath": ""
        },
        "androidSigning":
        {
            "keyAlias": "",
            "keystorePath": ""
        }
    },
    "global":
    {
        "authRegion": "global",
        "iosBundleId": "com.xd.cindy",
        "androidPackage": "com.xd.cindy",
        "npkgExpectBundle": "com.xd.cindy",
        "google":
        {
            "webClientId": "",
            "iosClientId": "",
            "iosUrlScheme": ""
        },
        "tapdb":
        {
            "clientId": "",
            "clientToken": ""
        },
        "oss":
        {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        },
        "iosSigning":
        {
            "teamId": "",
            "profileName": "",
            "signIdentity": "",
            "profilePath": ""
        },
        "androidSigning":
        {
            "keyAlias": "",
            "keystorePath": ""
        }
    }
}
