{
    "cn": {
        "authRegion": "",
        "iosBundleId": "",
        "iosAppStoreId": "",
        "androidPackage": "",
        "androidStoreUrl": "",
        "npkgExpectBundle": "",
        "tapdb": {
            "clientId": "",
            "clientToken": ""
        },
        "oss": {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        },
        "iosSigning": {
            "teamId": "",
            "profileName": "",
            "signIdentity": "",
            "profilePath": ""
        },
        "androidSigning": {
            "keyAlias": "",
            "keystorePath": ""
        }
    },
    "global": {
        "authRegion": "",
        "iosBundleId": "",
        "iosAppStoreId": "",
        "androidPackage": "",
        "androidStoreUrl": "",
        "npkgExpectBundle": "",
        "google": {
            "webClientId": "",
            "iosClientId": "",
            "iosUrlScheme": ""
        },
        "tapdb": {
            "clientId": "",
            "clientToken": ""
        },
        "oss": {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        },
        "iosSigning": {
            "teamId": "",
            "profileName": "",
            "signIdentity": "",
            "profilePath": ""
        },
        "androidSigning": {
            "keyAlias": "",
            "keystorePath": ""
        }
    },
    "dev": {
        "authRegion": "dev",
        "iosBundleId": "",
        "iosAppStoreId": "",
        "androidPackage": "",
        "androidStoreUrl": "",
        "npkgExpectBundle": "",
        "tapdb": {
            "clientId": "",
            "clientToken": ""
        },
        "oss": {
            "cdnBaseUrl": "",
            "bucket": "",
            "prefix": "",
            "ossRegion": ""
        },
        "iosSigning": {
            "teamId": "",
            "profileName": "",
            "signIdentity": "",
            "profilePath": ""
        },
        "androidSigning": {
            "keyAlias": "",
            "keystorePath": ""
        }
    }
}
